@import "variables.less";

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Didact Gothic', sans-serif;
    color: #555;
}

body{
    margin: 0;
    padding: 0;
}

.main-row{
    display: flex;
    justify-content: center;
}

.container{
    width: 64rem;
    display: flex;
}

@import "header.less";
@import "hero.less";
@import "mpaq.less";
@import "about-services.less";
@import "licenced.less";
@import "footer.less";